---
---

$blue: #1a71ac;
$blue-bright: #0cceec;
$blue-bright-pale: #8bf3fd;
$grey: #8e8e8e;
$light-grey: #c0c0c0;

body > div:first-child {
  text-align: left;
}

/*******************************************************************************
GENERIC
*******************************************************************************/

.row {

  h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    line-height : 57px;
    vertical-align:middle;
    padding:0;
    margin:0;
    text-align: right;
    /* color: #104e90; */
    color: $blue;
  }

  h3 {
    margin-top: 18px;
  }

  .empty {
    font-size: 36px;
    font-weight : 300;
    font-style: italic;
    line-height : 57px;
    color: $light-grey;
  }
}

.fa-github-alt { color: rgb(51, 122, 183); }

/*******************************************************************************
PARTS
*******************************************************************************/

#logo {
  padding: 20px 0;
  background: rgba(255, 225, 31, 0.8);

  h1 {
    font-family: 'Varela Round', sans-serif;
    color: #1b1b1b;
    font-size: 80px;
    font-weigth: 900;
    margin-top: 52px;
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: -3px;
  }

  div:first-child {
    text-align: right;
  }

  img {
    width: 200px;
  }

  .description {
    margin-left: 15px;
    color: #5b5b5b; //#8e8e8e;

    font-family: 'Varela Round', sans-serif;
    text-align : left;
    font-size: 32px;
    line-height: 40px;

    a {
      color: #e25d5d;
    }
  }
}

#follow_us {
  background: #0cceec;
  // background: #f48628;
  // background: $blue;
  padding : 10px 0;
  text-align: left;

  h2 {
    // color: #f3f3f3;
    color: white;
  }

  a {
    // background-color: white; // 731f43
    // color: $blue;
    border: 0;
    padding : 1px 10px 0px 1px;
    vertical-align: middle;

    span.fa-stack {
      vertical-align: middle;
    }

    span.text {
    font-size: 36px;
    vertical-align : middle;
    line-height: 36px;
    }
  }

  div a:first-child {
    margin-right: 30px;
  }
}

#works {
  .project {
    margin-bottom: 15px;

    a {
      box-shadow: 0 -4px 0 $blue-bright-pale inset;
      //border-bottom: 3px solid $blue-bright-pale;
    }

    a:hover {
      color: $blue;
      text-decoration:none;
      border-bottom-color: $blue-bright;
    }
  }

  .keywords {
    margin-top : 10px;

    a {
      box-shadow: 0 -2px 0 $blue-bright-pale inset;
      //border-bottom-width: 2px;
    }
  }

  .links {
    @extend .keywords;
  }

}

#talks {

  .subtitle {
    font-size: 18px;
    color: #c0c0c0;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .content {
    margin: 10px 0;
  }

  .subtitle a {
    color: inherit;
    text-decoration: underline;
  }
}

#workshops {
  @extend #talks;

  .collaboration {
    font-size: 18px;
    color: $grey;
    margin: 0 0 5px 0;
  }
}

#team {

  > div:nth-child(2){
    padding-top: 14px;
  }

  .member {
    h4 {
      text-align : center;
    }

    .affiliation {
      color: $light-grey;
      text-align: center;
      margin-bottom: 10px;
      font-weight: normal;
    }

    .links a {
      display: block;
      text-align : center;
    }
  }
}

#credits {
  text-align: center;
  margin: 30px 0;
  font-size: 0.8em;
  color: $light-grey;

  a {
    color: $grey;
    text-decoration: underline;
  }
}
