---
layout: default
title: WeKeyPedia
---

<div class="container-fluid text-center">

<div class="row" id="logo">
  <div class="col-md-3">
    <img src="/images/logo.svg" />
  </div>

  <div class="col-md-9">
    <h1>wekeypedia</h1>

    <p class="description">
    is a project funded by <a href="http://www.sorbonne-paris-cite.fr/">Sorbonne
    Paris Cité</a><br>
    and hosted at <a href="http://cri-paris.org">CRI</a> (UP5) and <a href="http://www.liafa.jussieu.fr/">LIAFA</a> (UP7)

<!--         is a <a href="http://cri-paris.org">CRI</a> research project<br>
about <a href="">thinking</a> and <a href="">building</a><br>
concepts, tools and dispositifs<br>
to power up learning experience<br>
through <a href="">collective intelligence</a><br>
and <a href="">web litteracy</a>.
-->
    </p>
  </div>
</div><!-- /logo -->

<div class="row" id="follow_us">
  <div class="col-md-3"><h2>follow us</h2></div>
  <div class="col-md-9">

    <a class="btn btn-primary" href="http://twitter.com/wekeypedia">
      <span class="fa-stack fa-2x"><i class="fa fa-twitter-square fa-stack-2x"></i></span>
      <span class="text">twitter</span>
    </a>

    <a class="btn btn-primary" href="http://github.com/wekeypedia">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></"></i>
      </span>
      <span class="text">github</span>
    </a>
  </div>
</div><!-- /follow-us -->

<div id="works" class="row">
  <div class="col-md-3"><h2>works</h2></div>

  <div class="col-md-9">
  {% assign project_sorted =  site.projects | sort: "importance" %}
  {% for project in project_sorted %}
  <div class="project">
    {% if project.website %}
      <h3><a href="{{ project.website }}">{{ project.title }}</a></h3>
    {% else %}
      <h3>{{ project.title }}</h3>
    {% endif %}

    {% if project.github %}
      <a href="{{ project.github }}">
          <i class="fa fa-github-alt"></"></i> <span class="text">github</span>
      </a>
    {% endif %}

    {% if project.keywords %}
      <div class="keywords">
      {% for k in project.keywords %}
      <a href="">#{{ k }}</a>
      {% endfor %}
      </div>
    {% endif %}

  </div>
  {% endfor %}
  </div>

</div><!-- /works -->

<div id="talks" class="row">
  <div class="col-md-3"><h2>talks</h2></div>
</div><!-- /talks -->

<div id="publications" class="row">
  <div class="col-md-3"><h2>publications</h2></div>
</div><!-- /publications -->

<div class="row" id="team">
  <div class="col-md-3"><h2>team</h2></div>
  <div class="col-md-9">
    <ul>
      <li>
        tam kien duong

        <a href="mailto:tamkien@cri-paris.org">mail</a>
        <a href="https://univ-paris5.academia.edu/tamkienduong">academia</a>
        <a href="http://twitter.com/taniki">twitter</a>
      </li>
      <li>
        jérémie dusart

        <a href="mailto:dusart@liafa.univ-paris-diderot.fr ">mail</a>
      </li>
    </ul>
  </div>
</div><!-- /collaborators -->

</div>


<div class="container" style="display:none;">

<div class="row">
  <div class="col-md-4 rethink">
    <div class="text-center">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
    </span>
    </div>

    <div class="text-center">

    <h3>rethink</h3> <div class="subtitle">your knowledge ecosystem</div>

    <p>Wekeypedia is a research platform to meet and discuss ideas about how to change learning to adapt it to daily contemporary lifes (i.e. not only the student life) and technologies.</p>

    <p>It also central in our researches to understand the dynamic of the relationship between indivuals and collectives that transform knowledge process into a collective intelligence.</p>

    </div>
  </div>
  <div class="col-md-4 experiment">
    <div class="text-center">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
    </span>
    </div>

    <div class="text-center">
    <h3>experiment</h3> on your data
    </div>
  </div>

  <div class="col-md-4 transmit">
    <div class="text-center">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    </div>

    <div class="text-center">
    <h3>become</h3>
    </div>
  </div>


</div>

<h2>goals</h2>

<div class="intermediary_goal">
  synchronology
</div>


<div class="intermediary_goal">
  ski slopes UI
</div>

<div class="medium_goal">
ski slopes
</div>

<div class="big_goal">
global consciousness
</div>

<h2>prototypes</h2>

<h2>team</h2>

</div>
